body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color: white;
	text-decoration: none;
}

/* Basic Insticts page */

.main {
	margin: 20px;

}

.tag {
	width: 25%;
}

.title {
	font-size: 56px;
	width: 75%;
	font-family: sans-serif;
}

.rose {
	font-size: 56px;
	width: 75%;
	font-family: sans-serif;
}

.header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 28px;
}

.feature {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 28px;
}

.image {
	width: 75%;
	height: 650px;
}

.info {
	width: 25%;
	font-size: 18px;
	font-family: serif;
}

.text {
	margin-left: 25%;
}

.lines {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	pointer-events: none;
  }
  
  .line {
	width: 1px;
	height: 100vh;
	background-color: black;
  }
  
  .line1 {
	margin-left: 25%;
  }
  
  .line2 {
	margin-left: 25%;
  }
  
  .line3 {
	margin-left: 25%;
  }

.menu {
	height: 100vh;
	width: 33%;
	background-color: rgb(252, 6, 88);
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 20px;
	box-shadow: -5px 0px 5px 0px gray;
	margin-right: -40%;
	transition: 1s;
}

.menu.open {
	margin-right: 0%;
	transition: 1s;
}

.nav {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
}

.button {
	cursor: pointer;
}

/* Ligne Roset Page */

.orange {
	color: orange;
}

div.nav {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	padding: 10px;
	background-color: white;
}

div.lbutton {
	width: 25%;
	border-left: 1px solid black;
	padding: fixed;
	width: 100%;
}

div.lbutton:hover {
	background-color: yellow;
	cursor: pointer;
}

.lnav {
	background-color: #f1f18f;
	margin-left: 25%;
}

.main2 {
	margin: 20px;
}

div.main2.sans {
	font-family: Arial, Helvetica, sans-serif;
}

.feature2 {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.image2 {
	width: 50%;
}



/* 30 objects page */

.image3 {
	width: 50%;
	height: none;
}


/* Milan page */



.image4 {
	width: 50%;
	height: none;
	
}

.text4 {
	margin-left: 25%;
}

.title4 {
	background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;;
	font-size: 56px;
	width: 75%;
	font-family: sans-serif;
}

/* Divorce page */

.titled {
	font-size: 56px;
	width: 75%;
	font-family: sans-serif;
	background-color: #ffaad7;
opacity: 0.7;
background-image:  linear-gradient(30deg, #fc0086 12%, transparent 12.5%, transparent 87%, #fc0086 87.5%, #fc0086), linear-gradient(150deg, #fc0086 12%, transparent 12.5%, transparent 87%, #fc0086 87.5%, #fc0086), linear-gradient(30deg, #fc0086 12%, transparent 12.5%, transparent 87%, #fc0086 87.5%, #fc0086), linear-gradient(150deg, #fc0086 12%, transparent 12.5%, transparent 87%, #fc0086 87.5%, #fc0086), linear-gradient(60deg, #fc008677 25%, transparent 25.5%, transparent 75%, #fc008677 75%, #fc008677), linear-gradient(60deg, #fc008677 25%, transparent 25.5%, transparent 75%, #fc008677 75%, #fc008677);
background-size: 24px 42px;
background-position: 0 0, 0 0, 12px 21px, 12px 21px, 0 0, 12px 21px;
}