body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}


.main {
	padding: 20px;
}

.text {
	margin-bottom: 20px;
}

.circles {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 0px;
	left: 0px;
}

.circle {
	width: 33.33vw;
	height: 50vh;
	border-radius: 100%;
	border: 1px solid black;
}


.circle.fill {
	background-color: white;
	filter: blur(20px);
	
}

.circle.fill:hover {
	background-color: transparent;
	
}

.bubble {
	background-color: black;
	color: white;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
}